<table class="table table-bordered table-striped table-hover table-responsive">
	<thead>

	</thead>
	<tbody>
		
		<tr>
			<th>
				Class Number
			</th>
			<th>
				<~~!!@@classnum@@!!~~>
			</th>
		</tr>
		
		<tr>
			<td>
				<b>Name</b>
			</td>
			<td>
				<~~!!@@name@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				<b>Description</b>
			</td>
			<td>
				<~~!!@@description@@!!~~>
			</td>
		</tr>
		
		<tr>
			<td>
				<b>Credit Hours</b>
			</td>
			<td>
				<~~!!@@credits@@!!~~>
			</td>
		</tr>
		<~~!!@@enroll@@!!~~>

	</tbody>
</table>