<table class="table table-bordered table-hover table-responsive">
	<thead>

	</thead>
	<tbody>
		
		<tr>
			<th>
				Class Number
			</th>
			<th>
				<~~!!@@classnum@@!!~~>
			</th>
		</tr>
		
		<tr>
			<td>
				Name
			</td>
			<td>
				<~~!!@@name@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Description
			</td>
			<td>
				<~~!!@@description@@!!~~>
			</td>
		</tr>
		
		<tr>
			<td>
				Credit Hours
			</td>
			<td>
				<~~!!@@credits@@!!~~>
			</td>
		</tr>

	</tbody>
</table>