<form class="form-horizontal" method="post" action ="<~~!!@@action@@!!~~>">
<fieldset>


<legend>Course Search</legend>


<div class="form-group">
  <label class="col-md-4 control-label" for="term">Typically Offered</label>
  <div class="col-md-4">
    <select id="term" name="term" class="form-control">
      <option value="Fall">Fall</option>
      <option value="Winter">Winter</option>
      <option value="Spring">Spring</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="subject">Subject</label>
  <div class="col-md-4">
    <select id="subject" name="subject" class="form-control">
      <option value="CSC">CSC</option>
      <option value="SE">SE</option>
      <option value="CNS">CNS</option>
      <option value="GAM">GAM</option>
      <option value="HCL">HC</option>
      <option value="TDC">TDC</option>
      <option value="ECT">IS</option>
      <option value="GEO">GEO</option>
      <option value="GPH">GPH</option>
      <option value="IT">IT</option>
      <option value="">All</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="num">Class Number</label>  
  <div class="col-md-4">
  <input id="num" name="num" type="text" placeholder="Number" class="form-control input-md">
  </div>
</div>
<input type='submit' value='Submit'>
<input type='hidden' name='enroll' value='<~~!!@@enroll@@!!~~>'>
</fieldset>
</form>
