<form class="form-horizontal">
<fieldset>


<legend>Course Search</legend>


<div class="form-group">
  <label class="col-md-4 control-label" for="term">Term</label>
  <div class="col-md-4">
    <select id="term" name="term" class="form-control">
      <option value="1">Fall</option>
      <option value="2">Winter</option>
      <option value="2">Spring</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="subject">Subject</label>
  <div class="col-md-4">
    <select id="subject" name="subject" class="form-control">
      <option value="1">CSC</option>
      <option value="2">SE</option>
      <option value="2">IT</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="num">Class Number</label>  
  <div class="col-md-4">
  <input id="num" name="num" type="text" placeholder="Number" class="form-control input-md">
  </div>
</div>
<input type='submit' value='Submit'>
</fieldset>
</form>
