
<form class="form-horizontal" method="post" action="enroll">
<fieldset>


<legend>Enroll in <~~!!@@title@@!!~~></legend>


<div class="form-group">
  <label class="col-md-4 control-label" for="teachers">Teachers Available For This Course</label>
  <div class="col-md-4">
    <select id="teachers" name="teachers" class="form-control">
	<~~!!@@teachers@@!!~~>
    </select>
  </div>
</div>



<div class="form-group">
  <label class="col-md-4 control-label" for="terms">Term Available</label>
  <div class="col-md-4">
    <select id="terms" name="terms" class="form-control">
      <~~!!@@terms@@!!~~>
    </select>
  </div>
</div>


<~~!!@@hide@@!!~~>
<input type='submit' value='Submit'>

</fieldset>
</form>
