<tr><td>
<form class="form-horizontal input-sm" method="post" action ="modify">
<fieldset>


<div class="form-group">
  <label class="col-md-2" style="font-weight:300; font-size:14px;"><~~!!@@name@@!!~~></label>
  <div class="col-md-2">
	<input type='submit' class="btn btn-default input-small" style="font-size:12px; padding:5px; margin-top:-5px;" value='Submit Final Grade'>
  </div>
</div>

<input type='hidden' name='modify' value='<~~!!@@id@@!!~~>'>
</fieldset>
</form>
</td></tr>