<div class ="container">
<legend>Your quickest path to graduation: </legend>
<table class="table table-striped table-hover table-condensed table-responsive">
	<thead>

	</thead>
	<tbody>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		<~~!!@@T1TITLE@@!!~~>
		<~~!!@@T1@@!!~~>
		<~~!!@@T2TITLE@@!!~~>
		<~~!!@@T2@@!!~~>
		<~~!!@@T3TITLE@@!!~~>
		<~~!!@@T3@@!!~~>
		<~~!!@@T4TITLE@@!!~~>
		<~~!!@@T4@@!!~~>
		
	</tbody>
</table>
</div>