<form class="form-horizontal">
<fieldset>


<legend>Degree Requirements</legend>


<div class="form-group">
  <label class="col-md-4 control-label" for="degree">Degree</label>
  <div class="col-md-4">
    <select id="degree" name="degree" class="form-control">
      <option value="1">MS in Computer Science</option>
      <option value="2">Other</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="conc">Concentration</label>
  <div class="col-md-4">
    <select id="conc" name="conc" class="form-control">
      <option value="1">Software Development</option>
      <option value="2">Software Engineering</option>
      <option value="3">Game Development</option>
    </select>
  </div>
</div>




<div class="form-group">
  <div class="col-md-4">
    <button id="submit"  class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
