<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapse<~~!!@@number@@!!~~>" 
           href="#collapse<~~!!@@number@@!!~~>" class="collapsed">
          <b><~~!!@@name@@!!~~></b> - <~~!!@@classname@@!!~~>
        </a>
      </h4>

        </div>
        <div id="collapse<~~!!@@number@@!!~~>" class="panel-collapse collapse">
            <div class="panel-body"><~~!!@@classdes@@!!~~></div>
        </div>
    </div>
    
    
</div>