<table class="table table-bordered table-hover table-responsive">
	<thead>

	</thead>
	<tbody>
		<tr>
			<td>
				Student ID
			</td>
			<td>
				<~~!!@@StudentID@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Career ID
			</td>
			<td>
				<~~!!@@CareerID@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Program ID
			</td>
			<td>
				<~~!!@@ProgramID@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Major ID
			</td>
			<td>
				<~~!!@@MajorID@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Concentration ID
			</td>
			<td>
				<~~!!@@ConcentrationID@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Date of Enrollment
			</td>
			<td>
				<~~!!@@DateOfEnrollment@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Cumulative GPA
			</td>
			<td>
				<~~!!@@CumulativeGPA@@!!~~>
			</td>
		</tr>
	</tbody>
</table>