
<form class="form-horizontal" method="post" action="studentresult">
<fieldset>


<legend><~~!!@@title@@!!~~></legend>


<div class="form-group">
  <label class="col-md-4 control-label" for="grade">Grade</label>
  <div class="col-md-4">
    <select id="grade" name="grade" class="form-control">
      <option value="A">A</option>
      <option value="A-">A-</option>
      <option value="B">B</option>
      <option value="B-">B-</option>
      <option value="C">C</option>
      <option value="C-">C-</option>
      <option value="D">D</option>
      <option value="D-">D-</option>
      <option value="F">F</option>
    </select>
  </div>
</div>



<~~!!@@hide@@!!~~>
<input type='submit' value='Submit'>

</fieldset>
</form>
