<div class="container">
	<div class="row">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/enroll">Enroll in classes</a></li>
						<li><a href="/degree">Degree Requirements</a></li>
						<li><a href="/dashboard">Dashboard</a></li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						
					</ul>
				</div>
				
			</nav>
		<legend>Currently Enrolled Courses</legend>
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
			<thead>
			<tr>
			<th>
				Class Name
			</th>
			<th>
				Term
			</th>
			<th>
				Instructor
			</th>
			<th>
				Credit Hours
			</th>
			<th>
				Status
			</th>
			<th>
				Options
			</th>
		</tr>
		</thead>
		<tbody>
		<~~!!@@enrolled@@!!~~>
		</tbody>
		</table>

	</div>
	<div class="row">
		<legend>Completed Courses</legend>
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
			<thead>
			<tr>
			<th>
				Class Name
			</th>
			<th>
				Term
			</th>
			<th>
				Credit Hours
			</th>
			<th>
				Instructor
			</th>
			<th>
				Grade
			</th>
			<th>
				Status
			</th>
		</tr>
		</thead>
		<tbody>
		<~~!!@@completed@@!!~~>
		</tbody>
		</table>
	</div>
</div>