<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
	
	<tbody>
		<tr>
			<td>
				First Name
			</td>
			<td>
				<~~!!@@fname@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Last Name
			</td>
			<td>
				<~~!!@@lname@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Status
			</td>
			<td>
				<~~!!@@type@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Primary Email
			</td>
			<td>
				<~~!!@@email@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Activity
			</td>
			<td>
				<~~!!@@active@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Date Registered
			</td>
			<td>
				<~~!!@@date@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Phone
			</td>
			<td>
				<~~!!@@phone@@!!~~>
			</td>
		</tr>
		<tr>
			<td>
				Address
			</td>
			<td>
				<~~!!@@address@@!!~~>
			</td>
		</tr>
	</tbody>
</table>