
<form class="form-horizontal" method="post" action="pathresult">
<fieldset>


<legend>What-If Report</legend>


<div class="form-group">
  <label class="col-md-4 control-label" for="program">Degree Program</label>
  <div class="col-md-4">
    <select id="program" name="program" class="form-control">
      <option value="1">MS Computer Science</option>
      <option value="2">Other</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="concentration">Concentration</label>
  <div class="col-md-4">
    <select id="concentration" name="concentration" class="form-control">
      <option value="2">Software and System Development</option>
      <option value="3">Theory</option>
      <option value="4">Data Science</option>
      <option value="5">Database Systems</option>
      <option value="6">Artificial Intelligence</option>
      <option value="7">Software Engineering</option>
      <option value="8">Multimedia</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="start">Starting Quarter</label>
  <div class="col-md-4">
    <select id="start" name="start" class="form-control">
      <option value="Fall">Fall</option>
      <option value="Winter">Winter</option>
      <option value="Spring">Spring</option>
      <option value="Summer">Summer</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="start">Starting Year</label>
  <div class="col-md-4">
    <select id="year" name="year" class="form-control">
      <option value="2017">2017-2018</option>
      <option value="2018">2018-2019</option>
      <option value="2019">2019-2020</option>
      <option value="2020">2020-2021</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Number of Fall Classes</label>
  <div class="col-md-4"> 
    <label class="radio-inline">
      <input type="radio" name="fall" value="0">
      0
    </label> 
    <label class="radio-inline">
      <input type="radio" name="fall" value="1" checked="checked">
      1
    </label> 
    <label class="radio-inline">
      <input type="radio" name="fall" value="2">
      2
    </label> 
    <label class="radio-inline">
      <input type="radio" name="fall" value="3">
      3
    </label> 
    <label class="radio-inline">
      <input type="radio" name="fall" value="4">
      4
    </label>
    <label class="radio-inline">
      <input type="radio" name="fall" value="5">
      5
    </label>
    <label class="radio-inline">
      <input type="radio" name="fall" value="6">
      6
    </label>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label">Number of Winter Classes</label>
  <div class="col-md-4"> 
    <label class="radio-inline">
      <input type="radio" name="winter" value="0">
      0
    </label> 
    <label class="radio-inline">
      <input type="radio" name="winter" value="1" checked="checked">
      1
    </label> 
    <label class="radio-inline">
      <input type="radio" name="winter" value="2">
      2
    </label> 
    <label class="radio-inline">
      <input type="radio" name="winter" value="3">
      3
    </label> 
    <label class="radio-inline">
      <input type="radio" name="winter" value="4">
      4
    </label>
    <label class="radio-inline">
      <input type="radio" name="winter" value="5">
      5
    </label>
    <label class="radio-inline">
      <input type="radio" name="winter" value="6">
      6
    </label>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label">Number of Spring Classes</label>
  <div class="col-md-4"> 
    <label class="radio-inline">
      <input type="radio" name="spring" value="0">
      0
    </label> 
    <label class="radio-inline">
      <input type="radio" name="spring" value="1" checked="checked">
      1
    </label> 
    <label class="radio-inline">
      <input type="radio" name="spring" value="2">
      2
    </label> 
    <label class="radio-inline">
      <input type="radio" name="spring" value="3">
      3
    </label> 
    <label class="radio-inline">
      <input type="radio" name="spring" value="4">
      4
    </label>
    <label class="radio-inline">
      <input type="radio" name="spring" value="5">
      5
    </label>
    <label class="radio-inline">
      <input type="radio" name="spring" value="6">
      6
    </label>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">Number of Summer Classes</label>
  <div class="col-md-4"> 
    <label class="radio-inline">
      <input type="radio" name="summer" value="0">
      0
    </label> 
    <label class="radio-inline">
      <input type="radio" name="summer" value="1" checked="checked">
      1
    </label> 
    <label class="radio-inline">
      <input type="radio" name="summer" value="2">
      2
    </label> 
    <label class="radio-inline">
      <input type="radio" name="summer" value="3">
      3
    </label> 
    <label class="radio-inline">
      <input type="radio" name="summer" value="4">
      4
    </label>
    <label class="radio-inline">
      <input type="radio" name="summer" value="5">
      5
    </label>
    <label class="radio-inline">
      <input type="radio" name="summer" value="6">
      6
    </label>
  </div>
</div>
<~~!!@@asuser@@!!~~>
<input type='submit' value='Submit'>

</fieldset>
</form>
